$red: #FF6A6A;
$blue: #79CDCD;
$lt-blue: #E0EEEE;
$yellow: #FFEC8B;
* { box-sizing: border-box;}

.full_-vheight {
  height: 100vh;
  background-color: $red;
  
  &:nth-child(2n) { 
    background-color: $blue;
  }
}

.animation-region {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  list-style: none;
  padding: 0;
} 

.grab-animation,
.fill-parent { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: .5rem;
  width: 100%;
  height: 100%;
}

.grab-animation {
  opacity: 0;
  transition: all 250ms ease-in-out;

  &:nth-child(3n-1) {
    background-color: $yellow;
  }
  &:nth-child(3n) {
    background-color: $blue;
  }
}

.grab-animation_-current {
  opacity: 1;
}

.js-detect-scroll {
  opacity: .5; //for proof of concept testing
}
